/*內容分隔線*/
.border-top-dashed {
    border-top: 1px dashed #3C4055;
}

.border-bottom-dashed {
    border-bottom: 1px dashed #3C4055;
}
/*連結無底線*/
.nounderline {
    text-decoration: none !important
}
/*收合內容*/
.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa-chevron-down {
    transform: rotate(90deg);
}

.md-form {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/*表格欄位內容對齊*/
#dataTablesPO tbody tr td:nth-child(n+4) {
    text-align: right;
}
