/*內容分隔線*/
.border-top-dashed {
    border-top: 1px dashed #3C4055;
}

.border-bottom-dashed {
    border-bottom: 1px dashed #3C4055;
}
/*連結無底線*/
.nounderline {
    text-decoration: none !important
}
/*收合內容*/
.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa-chevron-down {
    transform: rotate(90deg);
}

.md-form {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/*表格欄位內容對齊*/
#dataTablesPO tbody tr td:nth-child(n+4) {
    text-align: right;
}

/*交易記錄*/
ul.timeline {
    list-style-type: none;
    position: relative;
}

    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }

    ul.timeline > li {
        margin: 20px 0;
        padding-left: 20px;
    }

        ul.timeline > li:before {
            content: ' ';
            background: white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 3px solid rgb(90, 170, 255);
            left: 20px;
            width: 20px;
            height: 20px;
            z-index: 400;
        }
