
@{
    ViewBag.Title = "SupplierHomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>供應商首頁</h2>



<div id="container"></div>
<div id="container2"></div>
@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script>
        $(document).ready(function () {
            $.getJSON(`@Url.Action("GetData", "SupplierHomePage")`, function (datas) {
                let safetyQty = [];
                let partNumber = [];
                for (let i = 0; i < datas.length; i++) {
                    partNumber.push(datas[i].PartNumber);
                    safetyQty.push(datas[i].SafetyQty);
                };
                Highcharts.setOptions({
                    chart: {
                        backgroundColor: {
                            linearGradient: [0, 0, 500, 500],
                            stops: [
                                [0, 'rgb(255,255,255)'],
                                [1, 'rgb(240,240,255)']
                            ]
                        },
                        borderWidth: 2,
                        plotBackgroundColor: 'rgba(255,255,255, .9)',
                        plotShadow: true,
                        plotBorderWidth:1
                    }
                });
                var chart1 = new Highcharts.chart({
                    chart: {
                        renderTo:'container',
                    },
                    xAxis: {
                        title: 'partNumber',
                        categories: partNumber
                    },
                    yAxis: {
                        title: 'Stocks',
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color:'#808080'
                        }]
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend : {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0,
                    },
                    series: [{
                        name:'safetyQty',
                        data: safetyQty
                       }]
                });
                var chart2 = new Highcharts.chart({
                    chart: {
                        renderTo: 'container2',
                        type:'bar',
                    },
                    xAxis: {
                        categories: partNumber
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '',
                            align:'high'
                        },
                        labels: {
                            overflow:'justify'
                        }
                    },
                    series: [{
                        name:'safetyQty',
                        data: safetyQty
                    }],
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        vertical: '',
                        x: -40,
                        y: 80,
                        floating: true,
                        borderwidth: 1,
                        backgroundColor: Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                        shadow: true
                    },
                    credits: {
                        enable: false
                    }
                });
            });
        });
    </script>
}
