<div class="bc-icons-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb blue-grey lighten-5">
            <li class="breadcrumb-item">
                <a class="black-text" href="@Url.Action("Index","Home")">首頁</a><i class="fas fa-angle-right mx-2" aria-hidden="true"></i>
            </li>
            <li class="breadcrumb-item">
                <a class="black-text" href="@Url.Action("Index","PurchaseOrders")">採購單</a><i class="fas fa-angle-right mx-2" aria-hidden="true"></i>
            </li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
        </ol>
    </nav>
</div>
