@model IEnumerable<PMSAWebMVC.ViewModels.PurchaseOrders.PurchaseOrderIndexViewModel>

@section styles{
    <style>
        /*表格欄位內容對齊*/
        #dataTablesPO tbody tr td:nth-child(3) {
            text-align: right;
        }
    </style>
}

@{
    ViewBag.Title = "採購單";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Buyer") && !User.IsInRole("Manager"))
{
    <p>
        <a href="@Url.Action( "Create","PurchaseOrders")" class="btn btn-primary"><i class="fas fa-plus"></i> 新增採購單</a>
    </p>
}

<div class="card mb-3">
    <div class="card-header text-primary">
        <i class="fab fa-wpforms"></i> 採購單資訊
    </div>
    <div class="card-body">
        <div id="poContainer">

        </div>
    </div>
    <div class="card-footer small text-muted"></div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            //==$(document).ready begin==

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
            }

            swal.options = {
                title: '刪除確認',
                text: "確定要刪除嗎？",
                type: 'warning',
                showCancelButton: true,
                customClass: {
                    confirmButton: 'bg-primary',
                    cancelButton: 'bg-danger',
                },
                cancelButtonText: '取消',
                confirmButtonText: '確定'
            }

            showPOToTableViewModel();

            //顯示採購明細表
            async function showPOToTableViewModel() {
                await $.ajax({
                    url: "@Url.Action("GetPurchaseOrderListViewModel", "PurchaseOrders")",
                    type: "get",
                }).done(function (result) {
                     //建立內容
                     $('#poContainer').html(result);
                     initDataTablesPO();
                     //顯示內容
                     resizeDatatable();
                     console.log("showPOToTableViewModel");
                    }).fail(function (e) {
                        toastr.error(e.responseText);
                        console.log(e);
                    });
            }

            //採購主表
            var dtPO;
            function initDataTablesPO() {
                dtPO = $('#dataTablesPO').DataTable({
                    ordering: true,
                    fixedHeader: false,
                    paging: true,
                    //預設第1欄會有排序按鈕，需指定其他排序欄位才會消失
                    order: [[1, 'desc']],
                    //如第1欄是checkbox，會造成只有縮放按鈕有效，checkbox無法使用，所以縮放按鈕要分欄
                    responsive: {
                        details: {
                            type: 'column',
                            target: 0
                        }
                    },
                    columnDefs: [{
                        targets: 0,
                        className: 'control',
                        searchable: false
                    },
                        { orderable: false, targets: [0, -1] },
                    ],
                });
                dtPO.on('responsive-resize', function (e, datatable, columns) {
                    //修正縮放大小不正確的問題
                    dtPO.columns.adjust().responsive.recalc();
                });
            }

            //==$(document).ready end==
        });
    </script>
}
