@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@section styles{
    @*<link href="~/Content/DataTables/css/dataTables.site.examples.bs4.css" rel="stylesheet" />*@
    @*<link href="~/Content/DataTables/css/dataTables.site.examples.css" rel="stylesheet" />*@
    @*<link href="~/Content/DataTables/css/dataTables.site.site.css" rel="stylesheet" />*@
    <style>
        .td2c tbody tr td:nth-child(1), tbody tr td:nth-child(2) {
            text-align: center;
        }

        .td9r tbody tr td:nth-child(9) {
            text-align: right;
        }
    </style>
}

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<hr />

<h3><a href="https://tempusdominus.github.io/bootstrap-4/Usage/">Tempus Dominus Bootstrap 4</a></h3>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="input-group date" id="datetimepickerId" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepickerId" data-toggle="datetimepicker" />
                <div class="input-group-append" data-target="#datetimepickerId" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<h3><a href="https://amsul.ca/pickadate.js/date/">pickadate.js</a></h3>
<input type="text" id="pickadateId" class="form-control datetimepicker-input col-sm-6" />

<hr />

<h3><a href="#">Rounded Outline Button</a></h3>
<button class="btn btn-primary btn-icon" data-toggle="tooltip" title="檢視">
    <i class="far fa-eye"></i>
</button>
<button class="btn btn-outline-primary btn-icon" data-toggle="tooltip" title="編輯">
    <i class="far fa-edit"></i>
</button>

<hr />

<h3><a href="https://datatables.net/extensions/responsive/examples/">DataTables</a></h3>

<table id="dataTablesId" class="table table-striped hover order-column nowrap text-left" style="width:100%">
    <thead>
        <tr class="bg-primary text-white text-center">
            <th></th>
            <th data-priority="1">
                <input type="checkbox" class="mgc" />
            </th>
            <th data-priority="1">First name</th>
            <th>Last name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
            <th>Extn.</th>
            <th>E-mail</th>
            <th data-priority="1">動作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td><input type="checkbox" class="mgc"></td>
            <td>Tiger</td>
            <td>Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
            <td>5421</td>
            <td>t.nixon@datatables.net</td>
            <td>
                <div class="table-data-feature">
                    <button class="item" data-toggle="tooltip" title="檢視">
                        <i class="far fa-eye"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="編輯">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="刪除">
                        <i class='far fa-trash-alt'></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="明細">
                        <i class="far fa-file-alt"></i>
                    </button>
                    <div class="dropdown" data-toggle="popover-dropdown">
                        <button class="item">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">新增</a>
                            <a class="dropdown-item" href="#">表單</a>
                            <a class="dropdown-item" href="#">簽核</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" class="mgc"></td>
            <td>Garrett</td>
            <td>Winters</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>63</td>
            <td>2011/07/25</td>
            <td>$170,750</td>
            <td>8422</td>
            <td>g.winters@datatables.net</td>
            <td>
                <div class="table-data-feature">
                    <button class="item" data-toggle="tooltip" title="檢視">
                        <i class="far fa-eye"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="編輯">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="刪除">
                        <i class='far fa-trash-alt'></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="明細">
                        <i class="far fa-file-alt"></i>
                    </button>
                    <div class="dropdown" data-toggle="tooltip" title="更多">
                        <button class="item dropdown-toggle" data-toggle="dropdown" data-flip="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">新增</a>
                            <a class="dropdown-item" href="#">表單</a>
                            <a class="dropdown-item" href="#">簽核</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" class="mgc"></td>
            <td>Ashton</td>
            <td>Cox</td>
            <td>Junior Technical Author</td>
            <td>San Francisco</td>
            <td>66</td>
            <td>2009/01/12</td>
            <td>$86,000</td>
            <td>1562</td>
            <td>a.cox@datatables.net</td>
            <td>
                <div class="table-data-feature">
                    <button class="item" data-toggle="tooltip" title="檢視">
                        <i class="far fa-eye"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="編輯">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="刪除">
                        <i class='far fa-trash-alt'></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="明細">
                        <i class="far fa-file-alt"></i>
                    </button>
                    <div class="dropdown" data-toggle="tooltip" title="更多">
                        <button class="item dropdown-toggle" data-toggle="dropdown" data-flip="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">新增</a>
                            <a class="dropdown-item" href="#">表單</a>
                            <a class="dropdown-item" href="#">簽核</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" class="mgc"></td>
            <td>Cedric</td>
            <td>Kelly</td>
            <td>Senior Javascript Developer</td>
            <td>Edinburgh</td>
            <td>22</td>
            <td>2012/03/29</td>
            <td>$433,060</td>
            <td>6224</td>
            <td>c.kelly@datatables.net</td>
            <td>
                <div class="table-data-feature">
                    <button class="item" data-toggle="tooltip" title="檢視">
                        <i class="far fa-eye"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="編輯">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="刪除">
                        <i class='far fa-trash-alt'></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="明細">
                        <i class="far fa-file-alt"></i>
                    </button>
                    <div class="dropdown" data-toggle="tooltip" title="更多">
                        <button class="item dropdown-toggle" data-toggle="dropdown" data-flip="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">新增</a>
                            <a class="dropdown-item" href="#">表單</a>
                            <a class="dropdown-item" href="#">簽核</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" class="mgc"></td>
            <td>Airi</td>
            <td>Satou</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>33</td>
            <td>2008/11/28</td>
            <td>$162,700</td>
            <td>5407</td>
            <td>a.satou@datatables.net</td>
            <td>
                <div class="table-data-feature">
                    <button class="item" data-toggle="tooltip" title="檢視">
                        <i class="far fa-eye"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="編輯">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="刪除">
                        <i class='far fa-trash-alt'></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="明細">
                        <i class="far fa-file-alt"></i>
                    </button>
                    <div class="dropdown" data-toggle="tooltip" title="更多">
                        <button class="item dropdown-toggle" data-toggle="dropdown" data-flip="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">新增</a>
                            <a class="dropdown-item" href="#">表單</a>
                            <a class="dropdown-item" href="#">簽核</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" class="mgc"></td>
            <td>Brielle</td>
            <td>Williamson</td>
            <td>Integration Specialist</td>
            <td>New York</td>
            <td>61</td>
            <td>2012/12/02</td>
            <td>$372,000</td>
            <td>4804</td>
            <td>b.williamson@datatables.net</td>
            <td>
                <div class="table-data-feature">
                    <button class="item" data-toggle="tooltip" title="檢視">
                        <i class="far fa-eye"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="編輯">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="刪除">
                        <i class='far fa-trash-alt'></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="明細">
                        <i class="far fa-file-alt"></i>
                    </button>
                    <div class="dropdown" data-toggle="tooltip" title="更多">
                        <button class="item dropdown-toggle" data-toggle="dropdown" data-flip="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">新增</a>
                            <a class="dropdown-item" href="#">表單</a>
                            <a class="dropdown-item" href="#">簽核</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" class="mgc"></td>
            <td>Herrod</td>
            <td>Chandler</td>
            <td>Sales Assistant</td>
            <td>San Francisco</td>
            <td>59</td>
            <td>2012/08/06</td>
            <td>$137,500</td>
            <td>9608</td>
            <td>h.chandler@datatables.net</td>
            <td>
                <div class="table-data-feature">
                    <button class="item" data-toggle="tooltip" title="檢視">
                        <i class="far fa-eye"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="編輯">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="刪除">
                        <i class='far fa-trash-alt'></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="明細">
                        <i class="far fa-file-alt"></i>
                    </button>
                    <div class="dropdown" data-toggle="tooltip" title="更多">
                        <button class="item dropdown-toggle" data-toggle="dropdown" data-flip="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">新增</a>
                            <a class="dropdown-item" href="#">表單</a>
                            <a class="dropdown-item" href="#">簽核</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" class="mgc"></td>
            <td>Rhona</td>
            <td>Davidson</td>
            <td>Integration Specialist</td>
            <td>Tokyo</td>
            <td>55</td>
            <td>2010/10/14</td>
            <td>$327,900</td>
            <td>6200</td>
            <td>r.davidson@datatables.net</td>
            <td>
                <div class="table-data-feature">
                    <button class="item" data-toggle="tooltip" title="檢視">
                        <i class="far fa-eye"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="編輯">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="刪除">
                        <i class='far fa-trash-alt'></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="明細">
                        <i class="far fa-file-alt"></i>
                    </button>
                    <div class="dropdown" data-toggle="tooltip" title="更多">
                        <button class="item dropdown-toggle" data-toggle="dropdown" data-flip="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">新增</a>
                            <a class="dropdown-item" href="#">表單</a>
                            <a class="dropdown-item" href="#">簽核</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" class="mgc"></td>
            <td>Colleen</td>
            <td>Hurst</td>
            <td>Javascript Developer</td>
            <td>San Francisco</td>
            <td>39</td>
            <td>2009/09/15</td>
            <td>$205,500</td>
            <td>2360</td>
            <td>c.hurst@datatables.net</td>
            <td>
                <div class="table-data-feature">
                    <button class="item" data-toggle="tooltip" title="檢視">
                        <i class="far fa-eye"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="編輯">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="刪除">
                        <i class='far fa-trash-alt'></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="明細">
                        <i class="far fa-file-alt"></i>
                    </button>
                    <div class="dropdown" data-toggle="tooltip" title="更多">
                        <button class="item dropdown-toggle" data-toggle="dropdown" data-flip="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">新增</a>
                            <a class="dropdown-item" href="#">表單</a>
                            <a class="dropdown-item" href="#">簽核</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" class="mgc"></td>
            <td>Sonya</td>
            <td>Frost</td>
            <td>Software Engineer</td>
            <td>Edinburgh</td>
            <td>23</td>
            <td>2008/12/13</td>
            <td>$103,600</td>
            <td>1667</td>
            <td>s.frost@datatables.net</td>
            <td>
                <div class="table-data-feature">
                    <button class="item" data-toggle="tooltip" title="檢視">
                        <i class="far fa-eye"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="編輯">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="刪除">
                        <i class='far fa-trash-alt'></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="明細">
                        <i class="far fa-file-alt"></i>
                    </button>
                    <div class="dropdown" data-toggle="tooltip" title="更多">
                        <button class="item dropdown-toggle" data-toggle="dropdown" data-flip="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">新增</a>
                            <a class="dropdown-item" href="#">表單</a>
                            <a class="dropdown-item" href="#">簽核</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" class="mgc"></td>
            <td>Jena</td>
            <td>Gaines</td>
            <td>Office Manager</td>
            <td>London</td>
            <td>30</td>
            <td>2008/12/19</td>
            <td>$90,560</td>
            <td>3814</td>
            <td>j.gaines@datatables.net</td>
            <td>
                <div class="table-data-feature">
                    <button class="item" data-toggle="tooltip" title="檢視">
                        <i class="far fa-eye"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="編輯">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="刪除">
                        <i class='far fa-trash-alt'></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="明細">
                        <i class="far fa-file-alt"></i>
                    </button>
                    <div class="dropdown" data-toggle="tooltip" title="更多">
                        <button class="item dropdown-toggle" data-toggle="dropdown" data-flip="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">新增</a>
                            <a class="dropdown-item" href="#">表單</a>
                            <a class="dropdown-item" href="#">簽核</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" class="mgc"></td>
            <td>Quinn</td>
            <td>Flynn</td>
            <td>Support Lead</td>
            <td>Edinburgh</td>
            <td>22</td>
            <td>2013/03/03</td>
            <td>$342,000</td>
            <td>9497</td>
            <td>q.flynn@datatables.net</td>
            <td>
                <div class="table-data-feature">
                    <button class="item" data-toggle="tooltip" title="檢視">
                        <i class="far fa-eye"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="編輯">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="刪除">
                        <i class='far fa-trash-alt'></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="明細">
                        <i class="far fa-file-alt"></i>
                    </button>
                    <div class="dropdown" data-toggle="tooltip" title="更多">
                        <button class="item dropdown-toggle" data-toggle="dropdown" data-flip="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">新增</a>
                            <a class="dropdown-item" href="#">表單</a>
                            <a class="dropdown-item" href="#">簽核</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" class="mgc"></td>
            <td>Charde</td>
            <td>Marshall</td>
            <td>Regional Director</td>
            <td>San Francisco</td>
            <td>36</td>
            <td>2008/10/16</td>
            <td>$470,600</td>
            <td>6741</td>
            <td>c.marshall@datatables.net</td>
            <td>
                <div class="table-data-feature">
                    <button class="item" data-toggle="tooltip" title="檢視">
                        <i class="far fa-eye"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="編輯">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="刪除">
                        <i class='far fa-trash-alt'></i>
                    </button>
                    <button class="item" data-toggle="tooltip" title="明細">
                        <i class="far fa-file-alt"></i>
                    </button>
                    <div class="dropdown" data-toggle="tooltip" title="更多">
                        <button class="item dropdown-toggle" data-toggle="dropdown" data-flip="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">新增</a>
                            <a class="dropdown-item" href="#">表單</a>
                            <a class="dropdown-item" href="#">簽核</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@section scripts{
    @*設定套件預設值*@
    <script src="@Url.Content("~/Scripts/DataTables/i18n/jquery.dataTables." + Html.OutputText("".CultureName())+".js")"></script>
    <script src="@Url.Content("~/Scripts/tempusdominus/tempusdominus-bootstrap-4." + Html.OutputText("".CultureName())+".js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("body").popover({
                selector: '[data-toggle="popover-dropdown"]', html: true,
                trigger: 'focus',
                placement: 'bottom',
                content: function () { return $(this).children(".dropdown-menu").html(); }
            });

            $('#dataTablesId').DataTable({
                ordering: false,
                //預設第1欄會有排序按鈕，需指定其他排序欄位才會消失
                order: [[2, 'desc']],
                //如第1欄是checkbox，會造成只有縮放按鈕有效，checkbox無法使用，所以縮放按鈕要分欄
                responsive: {
                    details: {
                        type: 'column',
                        target: 0
                    }
                },
                columnDefs: [{
                    targets: 0,
                    className: 'control'
                },
                { orderable: false, targets: [0, 1, -1] },
                ],
            });

            $('#datetimepickerId').datetimepicker();

            $('#pickadateId').pickadate({
                format: 'yyyy/mm/dd',
                formatSubmit: 'yyyy/mm/dd'
            })

        });

    </script>

}
