
@{
    ViewBag.Title = "SupplierStocksView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@PMSAWebMVC.Resources.AppResource.InventoryManagementSupplier</h2>

<table id="InventoryManagement">
    <thead>
        <tr>
            <th>partName</th>
            <th>partNumber</th>
            <th>UnitsInStock</th>
            

        </tr>
    </thead>
</table>

@section scripts{
    <script>
        $(document).ready(function () {

            $("#InventoryManagement").DataTable(
                "ajax" : {
                    "url": "/SupplierStocks/SupplierStocksView",
                    "type": "GET",
                    "datatype":"json"
                },
                "columns": [
                    { "data": "partName" },
                    { "data": "partNumber" },
                    { "data": "UnitsInStock" },
                ]
            );
        });

    </script>
    }
 

