<div class="d-flex mt-5 pt-3 align-items-center justify-content-center flex-wrap">
    <a class="nav-link" href="@Url.Action("SetLanguage", "Account", new {
                             cultureName = "zh-TW",
                             returnUrl = this.Request.RawUrl })">
        <span class="p-2">中文</span>
    </a>
    <a class="nav-link" href=" @Url.Action("SetLanguage", "Account", new {
                              cultureName = "ja",
                              returnUrl = this.Request.RawUrl })">
        <span class="p-2">日本語</span>
    </a>
    <a class="nav-link" href="@Url.Action( "SetLanguage", "Account", new {
                             cultureName = "en-US",
                             returnUrl = this.Request.RawUrl })">
        <span class="p-2">English</span>
    </a>
</div>