<div class="d-flex pt-3 align-items-center justify-content-center flex-wrap">
    <a class="nav-link lanA" style="font-size: 12px;padding:0 15px 0 12px;" href="@Url.Action("SetLanguage", "Account", new {
                             cultureName = "zh-TW",
                             returnUrl = this.Request.RawUrl })">
        <span>中文</span>
    </a>
    <a class="nav-link lanA" style="font-size: 12px;padding:0 15px 0 12px;" href=" @Url.Action("SetLanguage", "Account", new {
                              cultureName = "ja",
                              returnUrl = this.Request.RawUrl })">
        <span>日本語</span>
    </a>
    <a class="nav-link lanA" style="font-size: 12px;padding:0 15px 0 12px;" href="@Url.Action( "SetLanguage", "Account", new {
                             cultureName = "en-US",
                             returnUrl = this.Request.RawUrl })">
        <span>English</span>
    </a>
</div>