<table style="font-family:'microsoft jhenghei', sans-serif; margin: 20px auto; background-color: #eee; padding-bottom: 20px;">
    <tr>
        <td>
            <img src='{imgUrl}' alt='陸行鳥自行車' />
        </td>
    </tr>
    <tr>
        <td style='line-height: 2; padding: 5px 38px 30px 38px;'>
            <h1 style='color: #3d5f7f; letter-spacing: 1px; margin: 0; font-size: 26px'>請重設您的密碼</h1>
            <p style='letter-spacing: 1px; color: #000; margin: 0;font-size: 16px'><strong>親愛的供應商您好</strong></p>
            <p style='letter-spacing: 1px; color: #000; margin: 0; font-size: 13px;'>注意需在24小時內登入連結並重設密碼，過期失效者請聯絡您的專屬採購員。</p>
            <p style='letter-spacing: 1px; color: #000; margin: 0; font-size: 13px; margin-bottom: 8px; '>請按連結確認您的信箱，並重設密碼以策安全。</p>
            <p style='letter-spacing: 1px; color: #000; margin: 0; font-size: 13px; '>帳號:</p>
            <p style='letter-spacing: 1px; margin: 0; margin-bottom: 5px; font-size: 16px;line-height: 1.2;'><strong>{SupAccId}</strong></p>
            <p style='letter-spacing: 1px; color: #000; margin: 0; font-size: 13px;'>重設密碼:</p>
            <p style='letter-spacing: 1px; margin: 0; margin-bottom: 5px; font-size: 16px;line-height: 1.2;'><strong>{pwd}</strong></p>
            <p style='letter-spacing: 1px; margin: 0; margin-bottom: 15px; font-size: 16px'><strong><a href='{callbackUrl}'>請按這確認信箱、重設您的密碼</a></strong></p>
            <p style='letter-spacing: 1px; margin: 0; color: #aaa;' font-size: 13px>如果這不是您的帳戶，請忽略這封信，感謝您。祝您有美好的一天。</p>
        </td>
    </tr>
</table>