@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>DEMO 用的 Email 驗證</h2>
<h2>@ViewBag.Title</h2>
<p class="text-info">
    請檢查你的 Email 驗證你的信箱。
    Please check your email and confirm your email address.
</p>
<p class="text-danger">
    【僅供 DEMO】 按此連結驗證信箱 <a href="@ViewBag.Link">link</a>
    【For DEMO only】 You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    @*Please change this code to register an email service in IdentityConfig to send an email.*@
</p>